Tim Su <tim@astrid.com>
Tim Su <tim@astrid.com> <tim@todoroo.com>

Jon Paris <jon@astrid.com>
Jon Paris <jon@astrid.com> <jon@todoroo.com>

Isaac Wang <isaac@astrid.com> <isaacwang@gmail.com>

Andrew Shaw <andrew@astrid.com>
Andrew Shaw <andrew@astrid.com> <andrew.t.shaw@gmail.com>
Andrew Shaw <andrew@astrid.com> <jenkins@astrid.com>

Sam Bosley <sam@astrid.com>
Sam Bosley <sam@astrid.com> <sboz88@gmail.com>
